body {
    min-height: 100vh;
    background-color: #fef6eb;

    font-family: 'Open Sans', sans-serif;
}

.navbar {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);

    button {
        align-self: center;
        margin: 0 0.5em;
    }
}

.footer {
    background-color: transparent;
}

.card {
    .card-header {
        display: flex;
        border-bottom: 1px solid #f2f2f2;
        box-shadow: none;
    }
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}